<!doctype html>
<html data-wf-page="691baada2a7cebd809bbae20" data-wf-site="691baad82a7cebd809bbad01" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta content="{{ page_description }}" name="description">
  <meta content="{{ page_title }}" property="og:title">
  <meta content="{{ page_description }}" property="og:description">
  <meta content="{{ page_title }}" property="twitter:title">
  <meta content="{{ page_description }}" property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="{{ 'normalize.css' | asset_url }}" rel="stylesheet" type="text/css">
  <link href="{{ 'webflow.css' | asset_url }}" rel="stylesheet" type="text/css">
  <link href="{{ 'first-cup-coffee-liquify.webflow.css' | asset_url }}" rel="stylesheet" type="text/css">
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  
            {% if settings.favicon == blank %}
              <link href="{{ 'favicon.png' | asset_url }}" rel="shortcut icon" type="image/x-icon">
            {% else %}
              <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
            {% endif %}
        
  
            {% if settings.apple_touch_icon == blank %}
              <link href="{{ 'webclip.png' | asset_url }}" rel="apple-touch-icon">
            {% else %}
              <link rel="apple-touch-icon" type="image/png" href="{{ settings.apple_touch_icon | img_url: '32x32' }}">
            {% endif %}
        <!--  Alpine Focus Plugin  -->
  <script defer="" src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
  <!--  Alpine JS  -->
  <script defer="" src="{{ 'alpinejs3.js' | asset_url }}"></script>
  <!--  Liquify Pro Debugger  -->
  <script defer="" auto="" min="" src="https://cdn.jsdelivr.net/gh/liquify-pro/core@latest/script.js"></script>
  <link href="{{ canonical_url }}" rel="canonical">
  {% if page_image %}
  <meta property="og:image" content="http:{{ page_image | image_url }}">
  <meta property="og:image:secure_url" content="https:{{ page_image | image_url }}">
  <meta property="og:image:width" content="{{ page_image.width }}">
  <meta property="og:image:height" content="{{ page_image.height }}">
{% endif %}
  {% case template.name %}
  {% when 'product' %}
<script type="application/ld+json">
  {{ product | structured_data }}
</script>
{% when 'article' %}
<script type="application/ld+json">
  {{ article | structured_data }}
</script>
{% when 'collection' %}
<script type="application/ld+json">
                  {
                     "@context":"http:\/\/schema.org",
                     "@type":"WebPage",
                     "url":"{{ shop.url }}",
                     "mainEntity":{"@type":"offerCatalog",
                     "name": "{{ collection.title }}",
                     "url": "{{ collection.url }}",
                     "numberOfItems":{{ collection.products.size }}}
              }
</script>
{% endcase %}
{% assign min_price = null %}
{% assign max_price = 0 %}
{% for product in collections.all-products.products %}
  {% for variant in product.variants %}
    {% assign price = variant.price | money_without_currency | replace: ',', '.' | plus: 0 %}
    {% if min_price == null or price < min_price %}
      {% assign min_price = price %}
    {% endif %}
    {% if price > max_price %}
      {% assign max_price = price %}
    {% endif %}
  {% endfor %}
{% endfor %}
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "LocalBusiness",
        "mainEntityOfPage" : {
          "@type" : "WebPage",
          "@id" : "{{ shop.url }}"
        },
        "name" : "{{ shop.name }}",
        "telephone" : "{{ shop.phone }}",
        "email" : "{{ shop.email }}",
        "priceRange" : "{{ min_price | money }} - {{ max_price | money }}",
        "address" : {
          "@type" : "PostalAddress",
          "streetAddress" : "{{ shop.address.address1 }}",
          "addressLocality" : "{{ shop.address.city }}",
          "addressRegion" : "{{ shop.address.province }}",
          "addressCountry" : "{{ shop.address.country_code }}",
          "postalCode" : "{{ shop.address.zip }}"
        },
        "url" : "{{ shop.url }}"
      }
    </script>
  <style>
  /* AlpineJS can cause a brief &ldquo;blip&rdquo; where uninitialized templates flash before it loads. x-cloak prevents this by hiding elements until Alpine is ready. Learn more: https://alpinejs.dev/directives/cloak */
  [x-cloak] { display: none !important; }
  /* The li-cloak tag is removed during conversion. It&rsquo;s useful for hiding elements in the Webflow Designer to make editing easier. Learn more: https://www.liquify.pro/docu/getting-started#li-cloak */  
  [li-cloak_disabled] { display: none !important; }
  /* Setup Font and Background Color if Text is selected */
  ::selection {
    color: #FFFFFF;
    background: #000000;
  }
  ::-moz-selection {
    color: #FFFFFF;
    background: #000000;
  }
</style>
  <!--  [Attributes by Finsweet] Mirror click events  -->
  <script defer="" src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-mirrorclick@1/mirrorclick.js"></script>
  <!--  Initialize Recharge SDK  -->
  <script src="https://static.rechargecdn.com/assets/storefront/recharge-client-1.16.3.min.js"></script>
  <script>
recharge.init({
    storeIdentifier: '{{shop.permanent_domain}}', // On Shopify this should be your myshopify.com domain
    // required for Storefront API access
    storefrontAccessToken: 'strfnt_199ea1f9e156e55fe616eaccc114f4aec5a23faa71b5f80813d1dda81920bb72',
  });
</script>
  <!--  
IMPORTANT: If you want to make changes to the head or body code on this page, 
please remove the `li-layout` tag from the body element. 
This will create a separate layout file for this page, allowing you to apply custom modifications.
Learn more: https://www.liquify.pro/docu/getting-started#template-structure
 -->
<script src="{{ 'li_helper.js' | asset_url }}" type="text/javascript"></script>{{ content_for_header }}</head>
<body li-page="product" li-layout="theme">
  <div class="page-wrapper">
    {% render 'global_styles' %}
    {% sections 'header_group' %}
    {{ content_for_layout }}
    {% sections 'footer_group' %}
    <footer bind="972fb2d7-8001-911f-39ec-e142296bc669" class="section_footer-2">
      <div class="padding-global-4">
        <div class="container-large-2">
          <div class="padding-section-medium-2">
            <div class="footer_content-wrapper">
              <div id="w-node-a9dc52a3-baa7-76d5-a605-8a9fb980c474-09bbae20" class="footer_column">
                <div class="footer_left-wrapper">
                  <div class="footer_social-wrapper">
                    <a href="https://www.facebook.com/firstcupcoffeecompany/" target="_blank" class="w-inline-block">
                      <div class="brand-icon-2 is-footer"></div>
                    </a>
                    <a href="https://www.instagram.com/firstcupcoffeeco/?hl=en" class="w-inline-block">
                      <div class="brand-icon-2 is-footer"></div>
                    </a>
                  </div>
                  <div bind="972fb2d7-8001-911f-39ec-e142296bc675" class="footer-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 215 134" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                      <path d="M0 107.463H7.36704V96.0702H18.7044V89.8522H7.36704V84.178H19.6538V77.7537H0V107.463Z" fill="currentColor"></path>
                      <path d="M32.1491 77.7537H24.6567V107.463H32.1491V77.7537Z" fill="currentColor"></path>
                      <path d="M60.9466 91.938C62.0436 90.5578 62.6005 88.8318 62.6005 86.8075C62.6005 85.0982 62.2719 83.6455 61.626 82.4884C60.9801 81.334 60.103 80.3915 59.02 79.6889C57.9425 78.989 56.7119 78.4843 55.3587 78.1915C54.0139 77.8988 52.6163 77.751 51.2019 77.751H39.8423V107.461H47.1286V95.8194H49.239L55.5982 107.461H64.3183L56.6144 94.8267C58.4381 94.23 59.8942 93.2597 60.9439 91.938H60.9466ZM47.0868 83.8463H50.6812C51.1963 83.8463 51.7392 83.8881 52.2961 83.969C52.839 84.047 53.3374 84.2032 53.7773 84.4262C54.2061 84.6465 54.5597 84.9616 54.8297 85.3603C55.097 85.7563 55.2334 86.2833 55.2334 86.9329C55.2334 87.6356 55.0831 88.2156 54.788 88.6506C54.49 89.0911 54.1003 89.4313 53.6353 89.6655C53.1536 89.9053 52.6135 90.0726 52.026 90.1674C51.433 90.2622 50.8399 90.3096 50.2664 90.3096H47.0868V83.8491V83.8463Z" fill="currentColor"></path>
                      <path d="M75.8392 83.799C76.2039 83.5759 76.6187 83.4253 77.0753 83.3473C77.5431 83.2664 78.0136 83.2246 78.4702 83.2246C79.3473 83.2246 80.2744 83.4476 81.2238 83.891C82.1705 84.3315 82.9473 84.9338 83.5347 85.6811L83.6684 85.8512L88.46 80.7904L88.318 80.6621C87.0094 79.4631 85.4614 78.543 83.724 77.9295C81.9867 77.3161 80.2605 77.0066 78.5927 77.0066C77.2034 77.0066 75.8113 77.1823 74.4498 77.5308C73.08 77.8793 71.8354 78.4398 70.7496 79.1954C69.6554 79.9539 68.7617 80.9353 68.0879 82.1148C67.4113 83.2998 67.0689 84.7386 67.0689 86.3921C67.0689 87.7417 67.2916 88.9044 67.7287 89.8469C68.1631 90.7893 68.7505 91.6063 69.4689 92.2671C70.1844 92.928 71.0057 93.4745 71.9162 93.8955C72.8155 94.311 73.7482 94.6762 74.6893 94.9802C75.6526 95.2841 76.5213 95.5685 77.2702 95.8278C78.0108 96.0844 78.6373 96.3715 79.1357 96.6811C79.6201 96.985 80.0015 97.3224 80.2605 97.6876C80.5111 98.0418 80.6391 98.4767 80.6391 98.987C80.6391 99.5335 80.5361 100.005 80.3301 100.39C80.1241 100.774 79.8456 101.087 79.5032 101.315C79.1496 101.549 78.7347 101.722 78.2614 101.826C76.7273 102.168 75.0178 101.957 73.3612 101.117C72.2197 100.54 71.287 99.8096 70.5881 98.9508L70.4545 98.7862L65.5459 103.791L65.6712 103.922C66.9826 105.291 68.6475 106.359 70.6243 107.098C72.5955 107.834 74.6642 108.208 76.7719 108.208C78.2141 108.208 79.6368 108.01 81.0011 107.62C82.3681 107.229 83.6015 106.619 84.6623 105.807C85.7287 104.993 86.589 103.947 87.2182 102.698C87.8503 101.449 88.1704 99.949 88.1704 98.2425C88.1704 96.7508 87.8697 95.4849 87.2767 94.4811C86.6865 93.4828 85.9319 92.6352 85.0354 91.9604C84.1417 91.2912 83.1394 90.7447 82.0507 90.3404C80.9677 89.9389 79.9236 89.568 78.9408 89.239C78.2614 89.0215 77.6378 88.8068 77.0893 88.6005C76.5491 88.3997 76.0814 88.1739 75.6944 87.9341C75.3213 87.7026 75.0345 87.4294 74.8452 87.1254C74.6586 86.8243 74.564 86.4423 74.564 85.9822C74.564 85.4441 74.6837 85.0007 74.9231 84.6606C75.1682 84.312 75.4772 84.022 75.8392 83.8018V83.799Z" fill="currentColor"></path>
                      <path d="M91.1636 84.178H99.4383V107.463H106.889V84.178H115.161V77.7537H91.1636V84.178Z" fill="currentColor"></path>
                      <path d="M151.899 98.4654C151.292 99.3214 150.479 100.027 149.479 100.562C148.48 101.098 147.288 101.368 145.94 101.368C144.774 101.368 143.691 101.151 142.716 100.721C141.742 100.292 140.893 99.6867 140.194 98.9227C139.495 98.1587 138.938 97.2246 138.543 96.1455C138.145 95.0664 137.944 93.8619 137.944 92.5653C137.944 91.2687 138.145 90.1144 138.543 89.0492C138.941 87.9869 139.503 87.0528 140.216 86.2721C140.929 85.4941 141.792 84.8751 142.78 84.4318C143.769 83.9884 144.874 83.7653 146.066 83.7653C147.149 83.7653 148.221 83.9828 149.254 84.415C150.275 84.8416 151.111 85.5025 151.74 86.3808L151.868 86.5592L156.868 81.4705L156.754 81.3367C155.518 79.9119 153.884 78.8133 151.896 78.0744C149.916 77.3382 147.873 76.9646 145.826 76.9646C143.616 76.9646 141.527 77.3299 139.612 78.0521C137.696 78.777 136.004 79.8282 134.584 81.1778C133.158 82.5301 132.028 84.1892 131.223 86.1103C130.416 88.0287 130.006 90.2008 130.006 92.5653C130.006 94.9298 130.407 97.0155 131.201 98.9367C131.994 100.858 133.105 102.531 134.5 103.908C135.895 105.288 137.568 106.368 139.467 107.118C141.366 107.868 143.465 108.25 145.704 108.25C148.162 108.25 150.365 107.806 152.255 106.928C154.143 106.052 155.752 104.842 157.041 103.337L157.158 103.2L152.029 98.2898L151.907 98.4654H151.899Z" fill="currentColor"></path>
                      <path d="M178.582 95.6324C178.582 96.4132 178.488 97.1632 178.298 97.8631C178.112 98.5546 177.803 99.1792 177.38 99.7229C176.959 100.264 176.405 100.699 175.731 101.014C175.058 101.332 174.228 101.494 173.267 101.494C172.307 101.494 171.477 101.332 170.803 101.014C170.132 100.696 169.584 100.264 169.177 99.7229C168.768 99.1792 168.456 98.5518 168.256 97.8575C168.055 97.1632 167.952 96.4132 167.952 95.6324V77.7537H160.543V96.2124C160.543 97.9969 160.841 99.6449 161.426 101.109C162.014 102.575 162.863 103.852 163.954 104.904C165.043 105.952 166.388 106.783 167.947 107.369C169.506 107.954 171.282 108.25 173.226 108.25C175.169 108.25 176.912 107.954 178.482 107.369C180.058 106.783 181.422 105.955 182.539 104.906C183.658 103.855 184.527 102.581 185.128 101.112C185.727 99.6448 186.033 97.9969 186.033 96.2124V77.7537H178.582V95.6324Z" fill="currentColor"></path>
                      <path d="M214.089 82.6416C213.482 81.4733 212.641 80.5141 211.586 79.7975C210.537 79.0837 209.292 78.5567 207.883 78.236C206.48 77.9154 204.957 77.7537 203.353 77.7537H192.116V107.463H199.567V96.402H203.186C204.712 96.402 206.202 96.2319 207.616 95.9001C209.039 95.5655 210.314 95.0274 211.4 94.2996C212.497 93.5663 213.379 92.5904 214.025 91.3942C214.671 90.198 215 88.7118 215 86.9747C215 85.2375 214.693 83.8099 214.089 82.6416ZM206.093 89.671C205.631 89.9359 205.102 90.1227 204.52 90.2287C203.927 90.3374 203.298 90.3904 202.652 90.3904H199.57V83.8489H202.777C203.398 83.8489 204.008 83.8908 204.592 83.9716C205.16 84.0497 205.675 84.2114 206.124 84.4484C206.561 84.6799 206.912 85.0061 207.168 85.4188C207.424 85.8287 207.552 86.3668 207.552 87.0165C207.552 87.6662 207.421 88.2155 207.165 88.6393C206.906 89.0659 206.547 89.4117 206.096 89.671H206.093Z" fill="currentColor"></path>
                      <path d="M53.1562 123.951C52.7859 123.455 52.3293 123.081 51.7891 122.833C51.2462 122.585 50.681 122.462 50.0935 122.462C49.4142 122.462 48.7877 122.601 48.217 122.877C47.6462 123.153 47.1534 123.527 46.7385 123.995C46.3237 124.464 46.0007 125.008 45.7696 125.624C45.5385 126.243 45.4244 126.887 45.4244 127.556C45.4244 128.273 45.5385 128.939 45.7696 129.558C46.0007 130.177 46.3209 130.713 46.7302 131.17C47.1395 131.627 47.6295 131.987 48.2003 132.252C48.771 132.519 49.403 132.65 50.0935 132.65C50.8425 132.65 51.5135 132.503 52.1009 132.207C52.6912 131.912 53.2035 131.488 53.6406 130.933L54.7292 131.85C54.1752 132.589 53.5098 133.133 52.7302 133.479C51.9506 133.824 51.0736 134 50.0907 134C49.2137 134 48.3952 133.838 47.6351 133.515C46.875 133.191 46.2123 132.745 45.6555 132.174C45.0959 131.602 44.6587 130.924 44.3413 130.138C44.0239 129.352 43.8652 128.493 43.8652 127.556C43.8652 126.619 44.0184 125.813 44.3246 125.027C44.6309 124.241 45.0597 123.56 45.6137 122.983C46.1678 122.406 46.8249 121.949 47.5877 121.614C48.3478 121.28 49.1859 121.112 50.0963 121.112C50.926 121.112 51.7251 121.263 52.4935 121.564C53.2592 121.865 53.9051 122.356 54.423 123.036L53.1617 123.954L53.1562 123.951Z" fill="currentColor"></path>
                      <path d="M65.9081 134C64.9754 134 64.1178 133.838 63.3383 133.515C62.5587 133.191 61.8849 132.745 61.3141 132.174C60.7434 131.602 60.2979 130.922 59.9805 130.13C59.6631 129.338 59.5044 128.482 59.5044 127.556C59.5044 126.631 59.6631 125.775 59.9805 124.983C60.2979 124.191 60.7434 123.51 61.3141 122.939C61.8849 122.367 62.5587 121.918 63.3383 121.595C64.1178 121.271 64.9726 121.11 65.9081 121.11C66.8436 121.11 67.6983 121.271 68.4779 121.595C69.2575 121.918 69.9313 122.367 70.502 122.939C71.0728 123.51 71.5183 124.194 71.8357 124.983C72.1531 125.775 72.3118 126.631 72.3118 127.556C72.3118 128.482 72.1531 129.338 71.8357 130.13C71.5183 130.922 71.0756 131.602 70.502 132.174C69.9313 132.745 69.2575 133.194 68.4779 133.515C67.7011 133.838 66.8436 134 65.9081 134ZM65.9081 132.648C66.6236 132.648 67.2779 132.517 67.871 132.249C68.464 131.984 68.9763 131.619 69.4023 131.156C69.8311 130.696 70.1624 130.155 70.3962 129.536C70.6329 128.92 70.7498 128.256 70.7498 127.553C70.7498 126.851 70.6301 126.187 70.3962 125.571C70.1596 124.952 69.8283 124.414 69.4023 123.951C68.9763 123.488 68.4668 123.126 67.871 122.858C67.2779 122.593 66.6209 122.459 65.9081 122.459C65.1953 122.459 64.5383 122.593 63.9452 122.858C63.3522 123.123 62.8399 123.488 62.4139 123.951C61.9851 124.414 61.6538 124.952 61.4199 125.571C61.1833 126.19 61.0636 126.851 61.0636 127.553C61.0636 128.256 61.1833 128.92 61.4199 129.536C61.6566 130.155 61.9879 130.696 62.4139 131.156C62.8399 131.619 63.3494 131.981 63.9452 132.249C64.5383 132.517 65.1953 132.648 65.9081 132.648Z" fill="currentColor"></path>
                      <path d="M77.0645 121.422H84.6598V122.774H78.5178V126.828H84.2255V128.181H78.5178V133.691H77.0645V121.425V121.422Z" fill="currentColor"></path>
                      <path d="M90.1445 121.422H97.7399V122.774H91.5979V126.828H97.3055V128.181H91.5979V133.691H90.1445V121.425V121.422Z" fill="currentColor"></path>
                      <path d="M103.222 121.422H110.921V122.774H104.676V126.622H110.506V127.974H104.676V132.341H111.232V133.693H103.222V121.427V121.422Z" fill="currentColor"></path>
                      <path d="M116.943 121.422H124.641V122.774H118.396V126.622H124.226V127.974H118.396V132.341H124.953V133.693H116.943V121.427V121.422Z" fill="currentColor"></path>
                      <path d="M147.514 123.951C147.143 123.455 146.687 123.081 146.147 122.833C145.604 122.585 145.038 122.462 144.451 122.462C143.772 122.462 143.145 122.601 142.574 122.877C142.004 123.153 141.511 123.527 141.096 123.995C140.681 124.464 140.358 125.008 140.127 125.624C139.896 126.243 139.782 126.887 139.782 127.556C139.782 128.273 139.896 128.939 140.127 129.558C140.358 130.177 140.678 130.713 141.088 131.17C141.497 131.627 141.987 131.987 142.558 132.252C143.128 132.519 143.76 132.65 144.451 132.65C145.2 132.65 145.871 132.503 146.458 132.207C147.049 131.912 147.561 131.488 147.998 130.933L149.087 131.85C148.533 132.589 147.867 133.133 147.088 133.479C146.308 133.824 145.431 134 144.448 134C143.571 134 142.753 133.838 141.992 133.515C141.232 133.191 140.57 132.745 140.013 132.174C139.453 131.602 139.016 130.924 138.699 130.138C138.381 129.352 138.223 128.493 138.223 127.556C138.223 126.619 138.376 125.813 138.682 125.027C138.988 124.241 139.417 123.56 139.971 122.983C140.525 122.406 141.182 121.949 141.945 121.614C142.708 121.28 143.543 121.112 144.454 121.112C145.283 121.112 146.082 121.263 146.851 121.564C147.617 121.865 148.263 122.356 148.78 123.036L147.519 123.954L147.514 123.951Z" fill="currentColor"></path>
                      <path d="M159.917 134C158.982 134 158.127 133.838 157.347 133.515C156.568 133.191 155.894 132.745 155.323 132.174C154.752 131.602 154.31 130.922 153.992 130.13C153.675 129.338 153.516 128.482 153.516 127.556C153.516 126.631 153.675 125.775 153.992 124.983C154.31 124.191 154.755 123.51 155.323 122.939C155.894 122.367 156.568 121.918 157.347 121.595C158.127 121.271 158.982 121.11 159.917 121.11C160.853 121.11 161.707 121.271 162.487 121.595C163.266 121.918 163.94 122.367 164.511 122.939C165.082 123.51 165.527 124.194 165.845 124.983C166.162 125.775 166.321 126.631 166.321 127.556C166.321 128.482 166.162 129.338 165.845 130.13C165.527 130.922 165.085 131.602 164.511 132.174C163.94 132.745 163.266 133.194 162.487 133.515C161.71 133.838 160.853 134 159.917 134ZM159.917 132.648C160.633 132.648 161.287 132.517 161.88 132.249C162.473 131.984 162.985 131.619 163.411 131.156C163.837 130.696 164.171 130.155 164.405 129.536C164.642 128.92 164.759 128.256 164.759 127.553C164.759 126.851 164.642 126.187 164.405 125.571C164.169 124.952 163.837 124.414 163.411 123.951C162.985 123.488 162.476 123.126 161.88 122.858C161.287 122.593 160.63 122.459 159.917 122.459C159.204 122.459 158.547 122.593 157.954 122.858C157.361 123.123 156.849 123.488 156.423 123.951C155.997 124.414 155.666 124.952 155.429 125.571C155.192 126.19 155.075 126.851 155.075 127.553C155.075 128.256 155.192 128.92 155.429 129.536C155.666 130.155 155.997 130.696 156.423 131.156C156.849 131.619 157.361 131.981 157.954 132.249C158.547 132.517 159.204 132.648 159.917 132.648Z" fill="currentColor"></path>
                      <path d="M171.266 131.714C171.552 131.714 171.8 131.814 172.001 132.018C172.204 132.221 172.304 132.466 172.304 132.754C172.304 133.041 172.195 133.289 171.984 133.49C171.77 133.693 171.53 133.794 171.266 133.794C171.001 133.794 170.762 133.693 170.547 133.49C170.333 133.289 170.227 133.044 170.227 132.754C170.227 132.464 170.327 132.218 170.531 132.018C170.731 131.817 170.976 131.714 171.266 131.714Z" fill="currentColor"></path>
                      <path d="M143.683 8.54181C143.683 6.15222 136.101 0.115479 106.46 0.115479C76.8196 0.115479 69.202 5.9654 69.202 8.77604C69.202 10.3542 70.931 11.4556 71.4043 11.7623C72.1561 12.2447 72.3092 14.0125 72.2925 15.0135C71.4127 15.0303 69.9565 15.0581 69.6865 15.0637C68.9069 15.0805 68.0104 15.1279 66.9969 15.2505C61.8712 15.8751 56.932 19.723 55.4758 24.7727C54.5765 27.8928 54.6601 31.8523 56.0327 34.794C58.4382 39.9468 63.706 42.8494 69.2939 43.0892C70.2433 43.1311 72.0113 43.1422 72.6294 43.1255C72.6377 44.5531 72.88 46.7196 72.8744 48.019C73.6874 64.0854 93.0071 65.5799 106.474 65.5799C119.942 65.5799 138.688 64.0882 139.568 48.019C139.704 40.2284 139.821 29.234 140.024 20.3141C140.074 16.7785 139.737 12.7633 141.817 11.5588C141.817 11.5588 143.677 10.4574 143.677 8.54181H143.683ZM72.5737 36.8936C71.7524 36.8936 70.6275 36.8852 69.7032 36.8713C64.8726 36.8071 60.2786 33.5504 60.3705 28.3529C60.4401 24.3266 63.6224 21.4713 67.5677 21.173C69.099 21.0586 70.7083 21.0726 72.2786 21.0809C72.4429 26.7245 72.4429 31.5372 72.5765 36.8908L72.5737 36.8936ZM112.388 50.601C109.298 49.1985 106.257 47.7179 103.245 46.148C100.221 47.7234 97.1667 49.2124 94.0567 50.6122C94.6442 47.2689 95.2456 43.9285 95.8358 40.5853C93.305 37.9922 90.8827 35.3126 88.4521 32.6274C91.8739 32.5438 95.2679 32.3319 98.6702 31.9861C100.204 28.9329 101.73 25.8741 103.245 22.8097C104.759 25.8741 106.285 28.9329 107.819 31.9861C111.219 32.3319 114.604 32.5438 118.02 32.6302C115.598 35.3042 113.143 37.9392 110.645 40.5407C111.227 43.8951 111.806 47.2466 112.388 50.601ZM136.018 26.4875C136.16 31.3281 136.246 36.2773 136.265 41.0816C136.291 47.2494 136.549 55.1293 130.842 59.8834C133.036 56.5625 132.802 50.5871 132.668 46.7698C132.465 40.8725 132.095 36.255 131.652 30.4023C131.349 26.4039 130.611 18.4906 131.474 15.7636C133.378 15.4346 134.91 15.0693 136.421 14.4419C136.118 15.7747 135.915 17.1522 135.915 19.0176C135.915 21.7529 135.934 23.7494 136.015 26.4903L136.018 26.4875ZM106.58 13.2708C88.2071 13.2708 76.9728 10.3236 76.9728 9.59302C76.9728 8.86247 85.2976 5.00621 106.402 5.00621C129.216 5.00621 136.121 9.01583 136.121 9.65994C136.121 10.2009 125.056 13.268 106.58 13.268V13.2708Z" fill="currentColor"></path>
                    </svg></div>
                </div>
              </div>
              <div id="w-node-a9dc52a3-baa7-76d5-a605-8a9fb980c47e-09bbae20" class="footer_column">
                <div class="footer_center-wrapper">
                  <div class="footer_links-column">
                    <div class="footer_link-header">Shop</div>
                    <a option:menu="Footer Shop Menu" href="#" class="footer_link-3 w-inline-block">
                      <div>Subscriptions</div>
                    </a>
                  </div>
                  <div class="footer_links-column">
                    <div class="footer_link-header">Information</div>
                    <a option:menu="Footer Info Menu" href="#" class="footer_link-3 w-inline-block">
                      <div>Location</div>
                    </a>
                  </div>
                  <div class="footer_links-column">
                    <div class="footer_link-header">Customer Service</div>
                    <a option:menu="Footer Customer Service Menu" href="#" class="footer_link-3 w-inline-block">
                      <div>support@firstcup.com</div>
                    </a>
                  </div>
                </div>
              </div>
              <div id="w-node-a9dc52a3-baa7-76d5-a605-8a9fb980c492-09bbae20" class="footer_column">
                <div class="footer_right-wrapper">
                  <div bind="972fb2d7-8001-911f-39ec-e142296bc68b" class="icon-embed-custom-4 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 40 251" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                      <path d="M20.0149 244.736C24.0879 246.939 28.1994 249.018 32.3834 250.982C31.5938 246.28 30.8086 241.578 30.0233 236.876L30.0224 236.871C33.3995 233.222 36.7254 229.525 40 225.774C35.3805 225.655 30.7952 225.353 26.197 224.87C24.1221 220.587 22.06 216.296 20.0107 212C17.9614 216.296 15.8992 220.587 13.8243 224.87C9.2219 225.353 4.62803 225.655 0 225.77C3.29171 229.538 6.56634 233.298 9.99039 236.933C9.19202 241.624 8.38083 246.31 7.58245 251C11.7921 249.036 15.9249 246.948 20.0149 244.736Z" fill="currentColor"></path>
                      <path d="M20.0149 191.736C24.0879 193.939 28.1994 196.018 32.3834 197.982C31.5938 193.28 30.8086 188.578 30.0233 183.876L30.0224 183.871C33.3995 180.222 36.7254 176.525 40 172.774C35.3805 172.655 30.7952 172.353 26.197 171.87C24.1221 167.587 22.06 163.296 20.0107 159C17.9614 163.296 15.8992 167.587 13.8243 171.87C9.2219 172.353 4.62803 172.655 0 172.77C3.29171 176.538 6.56634 180.298 9.99039 183.933C9.19202 188.624 8.38083 193.31 7.58245 198C11.7921 196.036 15.9249 193.948 20.0149 191.736Z" fill="currentColor"></path>
                      <path d="M20.5146 138.736C24.4857 140.939 28.4944 143.018 32.5738 144.982C31.804 140.28 31.0384 135.578 30.2727 130.876L30.2719 130.871C33.5645 127.222 36.8072 123.525 40 119.774C35.496 119.655 31.0253 119.353 26.5421 118.87C24.5191 114.587 22.5085 110.296 20.5104 106C18.5123 110.296 16.5018 114.587 14.4787 118.87C9.99135 119.353 5.51233 119.655 1 119.77C4.20941 123.538 7.40218 127.298 10.7406 130.933C9.96222 135.624 9.17131 140.31 8.39289 145C12.4973 143.036 16.5267 140.948 20.5146 138.736Z" fill="currentColor"></path>
                      <path d="M20.0149 85.7357C24.0879 87.9391 28.1994 90.0183 32.3834 91.9823C31.5938 87.2803 30.8086 82.5782 30.0233 77.8762L30.0224 77.871C33.3995 74.2224 36.7254 70.525 40 66.7744C35.3805 66.6547 30.7952 66.3532 26.197 65.87C24.1221 61.5874 22.06 57.2959 20.0107 53C17.9614 57.2959 15.8992 61.5874 13.8243 65.87C9.2219 66.3532 4.62803 66.6547 0 66.7699C3.29171 70.5383 6.56634 74.2977 9.99039 77.933C9.19202 82.6235 8.38083 87.3095 7.58245 92C11.7921 90.036 15.9249 87.9479 20.0149 85.7357Z" fill="currentColor"></path>
                      <path d="M20.0149 32.7357C24.0879 34.9391 28.1994 37.0183 32.3834 38.9823C31.5938 34.2803 30.8086 29.5782 30.0233 24.8762L30.0224 24.871C33.3995 21.2224 36.7254 17.525 40 13.7744C35.3805 13.6547 30.7952 13.3532 26.197 12.87C24.1221 8.58736 22.06 4.2959 20.0107 0C17.9614 4.2959 15.8992 8.58736 13.8243 12.87C9.2219 13.3532 4.62803 13.6547 0 13.7699C3.29171 17.5383 6.56634 21.2977 9.99039 24.933C9.19202 29.6235 8.38083 34.3095 7.58245 39C11.7921 37.036 15.9249 34.9479 20.0149 32.7357Z" fill="currentColor"></path>
                    </svg></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=691baad82a7cebd809bbad01" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  {% render 'search_javascript' %}
  <script>
  function megaBack() {
  var x = document.getElementsByClassName("mega-menu");
    $('.menu-button').on('click', function(evt) {
  if (window.getComputedStyle(x).display === "block") {
    setTimeout(function() {
        $('.mega-menu_mobile-close').triggerHandler('click');
    }, 005);
});
  }
}
</script>
  <script>
$('.input-number-increment').click(function() {
  var $input = $(this).parents('.input-number-group').find('.input-number');
  var val = parseInt($input.val(), 10);
  $input.val(val + 1);
});
$('.input-number-decrement').click(function() {
  var $input = $(this).parents('.input-number-group').find('.input-number');
  var val = parseInt($input.val(), 10);
  $input.val(Math.max(val - 1, 1));
})
</script>
</body>
</html>