<div class="padding-global-4">
          <div class="container-large-2">
            <div class="padding-section-medium-2">
              <div class="category-grid">
                <a sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"1446100e-fd0e-7eba-0475-3a70cf3eadc9"}}}" id="w-node-cf8380ad-4d9a-7587-3301-8f183c558d58-09bbad8b" data-w-id="cf8380ad-4d9a-7587-3301-8f183c558d58" href="#" class="home-category_component is-long w-inline-block">
                  <div class="home-category-grid-background is-long">
                    <div class="category-grid_background-overlay"></div><img class="category-grid_background-image is-long" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"b730705b-df9b-40c5-8dd4-ef1b55269720"}}}" src="{{ 'Bags-in-box-v1-Camera-5_1Bags-in-box-v1-Camera-5.webp' | asset_url }}" alt="" sizes="(max-width: 1000px) 100vw, 1000px" loading="lazy" srcset="{{ 'Bags-in-box-v1-Camera-5_1-p-500.jpg' | asset_url }} 500w, {{ 'Bags-in-box-v1-Camera-5_1-p-800.jpg' | asset_url }} 800w, {{ 'Bags-in-box-v1-Camera-5_1Bags-in-box-v1-Camera-5.webp' | asset_url }} 1000w">
                  </div>
                  <div class="category-grid_content">
                    <h3 sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"8181f452-6b1f-ff55-14a1-74eab3ffd015"}}}" class="h3 is-category-grid">Subscription Box</h3>
                    <p sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"8185f6f8-c577-6d03-60d9-72a6945cef02"}}}" class="paragraph is-category-grid text-balance">Pick from all of our different roasts, choose a delivery schedule & prep for a coffee adventure.</p>
                    <div class="category-grid_cta-txt-wrapper">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"2ab45dbf-9e7d-5fc4-7007-c3a021e8fabd"}}}" class="category-grid_cta-text">SUBSCRIBE AND SAVE</div>
                      <div class="fa-icon is-category-grid"></div>
                    </div>
                  </div>
                </a>
                <a sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"b32893e3-7eef-81b0-225f-7d02e304edd2"}}}" id="w-node-cf8380ad-4d9a-7587-3301-8f183c558d66-09bbad8b" data-w-id="cf8380ad-4d9a-7587-3301-8f183c558d66" href="#" class="home-category_component is-tall w-inline-block">
                  <div class="home-category-grid-background is-tall">
                    <div class="category-grid_background-overlay is-red"></div><img class="category-grid_background-image is-short" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"6fe48b2b-54c0-c5b3-2129-44985c72d0dd"}}}" src="{{ 'first-cup-social-mockup_1first-cup-social-mockup.webp' | asset_url }}" alt="" sizes="(max-width: 800px) 100vw, 800px" loading="lazy" srcset="{{ 'first-cup-social-mockup_1-p-500.jpg' | asset_url }} 500w, {{ 'first-cup-social-mockup_1first-cup-social-mockup.webp' | asset_url }} 800w">
                  </div>
                  <div class="category-grid_content">
                    <h3 sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"0c8f742f-9468-caac-c1b0-8e157a0d7341"}}}" class="h3 is-category-grid">Follow</h3>
                    <p sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"5d5b6f49-2bdc-6e63-3caf-73b24b800ee2"}}}" class="paragraph is-category-grid text-balance">Updates & deals you can't see anywhere else. Tag us & you may be featured in our story!</p>
                    <div class="category-grid_cta-txt-wrapper">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"bc50e5c3-0755-bd10-936d-25e76d9aea63"}}}" class="category-grid_cta-text">JOIN THE FAMILY</div>
                      <div class="fa-icon is-category-grid"></div>
                    </div>
                  </div>
                </a>
                <a sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"72560a48-ea3e-1a76-137d-7db9aace2961"}}}" data-w-id="cf8380ad-4d9a-7587-3301-8f183c558d74" href="#" class="home-category_component w-inline-block">
                  <div class="home-category-grid-background is-long">
                    <div class="category-grid_background-overlay is-gold"></div><img class="category-grid_background-image is-short" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"6cffa374-1da5-3630-9862-b45dc2bbac82"}}}" src="{{ 'Bags-on-Table-Bundles_1Bags-on-Table-Bundles.webp' | asset_url }}" alt="" sizes="(max-width: 800px) 100vw, 800px" loading="lazy" srcset="{{ 'Bags-on-Table-Bundles_1-p-500.jpg' | asset_url }} 500w, {{ 'Bags-on-Table-Bundles_1Bags-on-Table-Bundles.webp' | asset_url }} 800w">
                  </div>
                  <div class="category-grid_content">
                    <h3 sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"d5820b71-8be0-c379-3992-b4267a3e37e0"}}}" class="h3 is-category-grid">Bundles</h3>
                    <p sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"7f14c7a1-18cb-45bb-0961-18fceb1d9263"}}}" class="paragraph is-category-grid text-balance">Some of our favorite combinations to help you sample the First Cup catalog.</p>
                    <div class="category-grid_cta-txt-wrapper">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"9f676c01-3849-11dc-abee-81a94edcf3b8"}}}" class="category-grid_cta-text">SHOP BUNDLES</div>
                      <div class="fa-icon is-category-grid"></div>
                    </div>
                  </div>
                </a>
                <a sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"f9cb8889-0d61-1e5f-ed5f-fb0333b11121"}}}" data-w-id="cf8380ad-4d9a-7587-3301-8f183c558d82" href="#" class="home-category_component w-inline-block">
                  <div class="home-category-grid-background is-long">
                    <div class="category-grid_background-overlay is-yellow"></div><img class="category-grid_background-image is-short" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"38cd64e0-5eb7-0301-9f1e-c3a57f656884"}}}" src="{{ 'first-cup-merch-bkgd_1first-cup-merch-bkgd.webp' | asset_url }}" alt="" sizes="(max-width: 800px) 100vw, 800px" loading="lazy" srcset="{{ 'first-cup-merch-bkgd_1-p-500.jpg' | asset_url }} 500w, {{ 'first-cup-merch-bkgd_1first-cup-merch-bkgd.webp' | asset_url }} 800w">
                  </div>
                  <div class="category-grid_content">
                    <h3 sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"6f1a0598-7450-703a-2115-8e101e652ce6"}}}" class="h3 is-category-grid">Merch</h3>
                    <p sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"6d58c4ca-96d1-74e0-4b44-1e7f0810d876"}}}" class="paragraph is-category-grid text-balance">Show your support for First Cup with our limited edition merch. </p>
                    <div class="category-grid_cta-txt-wrapper">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"7de28e0b-7a4d-c52b-8565-1277dc14ddff"}}}" class="category-grid_cta-text">SHOP MERCH<br></div>
                      <div class="fa-icon is-category-grid"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Home Category Grid",
    "class": "section_home-category-grid",
    "presets": [
        {
            "name": "Home Category Grid",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}